*{
    box-sizing: border-box;
}

.notification-container {
    position: fixed;
    left: 0;
    right: 0;
    top: 130px;
    z-index: 99999;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
